---
import Layout from '../layouts/Layout.astro'
import { GithubIcon } from '@/components/GithubIcon'
import { TorusWrapper } from '@/components/TorusWrapper/TorusWrapper'
---

<Layout title='Torus 🍩' description='A spinning donut'>
  <main
    class='w-full h-auto pt-4 sm:px-32 sm:pt-16 pb-2 sm:pb-4 text-slate-200 flex flex-col items-center'
  >
    <h1
      class='text-3xl sm:text-5xl py-4 sm:py-8 font-bold bg-gradient-to-b from-[#f2f2ff] to-[#38267d] bg-clip-text text-transparent'
    >
      Torus
    </h1>
    <TorusWrapper client:load />
  </main>
  <footer
    class='mt-auto flex justify-center text-slate-300 text-sm items-center pt-8'
  >
    Made with ❤️ by&nbsp;
    <span class='hover:underline'>
      <a href='https://github.com/baccci' class='flex'>
        Salvador Bacci
        <GithubIcon className='fill-slate-100' size={20} />
      </a>
    </span>
  </footer>
</Layout>
