---
import Layout from '../layouts/Layout.astro'
import Torus from '../components/Torus/Torus.astro'
import { GithubIcon } from '@/components/GithubIcon'
---

<Layout title='Torus 🍩' description='A simple 3D spinning donut 🤤'>
  <main
    class='w-full pt-4 sm:px-32 sm:pt-16 text-slate-200 flex flex-col gap-y-4 items-center z-[1]'
  >
    <h1
      class='text-3xl sm:text-5xl py-4 sm:py-8 font-bold bg-gradient-to-b from-[#f2f2ff] to-[#1e1e58] bg-clip-text text-transparent'
    >
      Torus
    </h1>
    <Torus />
  </main>
  <footer
    class='mt-auto flex justify-center text-slate-300 text-sm items-center py-4'
  >
    Made with ❤️ by&nbsp;
    <span class='hover:underline'>
      <a href='https://github.com/baccci' class='flex'>
        Salvador Bacci
        <GithubIcon className='fill-slate-100' size={20} />
      </a>
    </span>
  </footer>
</Layout>
