---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta property="og:title" content="Torus" />
    <meta property="og:description" content="A 3D spinning donut ðŸ©." />
    <meta property="og:image" content="https://torus-zeta.vercel.app/og.png" />

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={`bg-neutral-950 pb-2 sm:pb-4 min-h-screen`}>
    <div
      class="absolute pointer-events-none h-full top-0 inset-x-0 bg-[radial-gradient(ellipse_80%_100%_at_50%_-20%,rgba(120,119,198,0.22),rgba(255,255,255,0))]"
    >
    </div>
    <slot class="z-[1]" />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "GeistMono";
    src:
      url("/fonts/Geist.Mono/GeistMono-Regular.woff2") format("woff2"),
      url("/fonts/Geist.Mono/GeistMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Geist";
    src:
      url("/fonts/Geist/Geist-Regular.woff2") format("woff2"),
      url("/fonts/Geist/Geist-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Geist";
    src:
      url("/fonts/Geist/Geist-Bold.woff2") format("woff2"),
      url("/fonts/Geist/Geist-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Geist";
    src:
      url("/fonts/Geist/Geist-Medium.woff2") format("woff2"),
      url("/fonts/Geist/Geist-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Geist";
    src:
      url("/fonts/Geist/Geist-SemiBold.woff2") format("woff2"),
      url("/fonts/Geist/Geist-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: "Geist", system-ui, sans-serif;
    background: #13151a;
    margin: 0;
    padding: 0;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
